
<div class="Card">
    <div class="Card-item">
        <%=product.name%>
    </div>
    <div class="Card-item">
        <%=product.description%>
    </div>
    <div class="Card-item">
        <%=product.price%>
    </div>
    <div class="Card-item">
        <button class="button-17">Edit</button>
        <button class="button-17">Add to Cart</button>
    </div>
</div>